<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://coffeeinvoice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>coffeeinvoice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>coffeeinvoice</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$coffeeinvoice</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="InvoiceDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:m504w9wi2d.database.windows.net,1433;Initial Catalog=InvoideDB;Integrated Security=False;User ID=superaubuyer@m504w9wi2d;Password=Penn@202018;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="InvoiceDB, CoffeeInvoice" MigrationConfiguration="CoffeeInvoice.Migrations.Configuration, CoffeeInvoice" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:m504w9wi2d.database.windows.net,1433;Initial Catalog=InvoideDB;Integrated Security=False;User ID=superaubuyer@m504w9wi2d;Password=Penn@202018;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InvoiceDB_old" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=|DataDirectory|InvoiceDB.sdf" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InvoiceDB_old_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=|DataDirectory|InvoiceDB.sdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="InvoiceDB_" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=mssql2005a.active-ns.com;Initial Catalog=xxxxxxxxxx.org;User ID=xxxxxxxxxxxx;Password=xxxxxxxxxxx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InvoiceDB__IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mssql2005a.active-ns.com;Initial Catalog=xxxxxxxxxx.org;user id=xxxxxxxxxxxx;password=xxxxxxxxxxx;MultipleActiveResultSets=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m504w9wi2d.database.windows.net,1433;Initial Catalog=InvoideDB;Integrated Security=False;User ID=superaubuyer@m504w9wi2d;Password=Penn@202018;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m504w9wi2d.database.windows.net,1433;Initial Catalog=InvoideDB;Integrated Security=False;User ID=superaubuyer@m504w9wi2d;Password=Penn@202018;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDB_-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InvoiceDB_old-Web.config Connection String" />
  </ItemGroup>
</Project>