

@model string

 <script type="text/javascript">
     $(document).ready(function () {
     	$("ul.filtroAlfab a").click(function (e) {
     		//alert(this.href);
         	$.ajax({         		
         		url: this.href, success: function (data) {
         			//alert("aaa" + data);
                 $("#ajaxResponse").html(data);
             }
             });
             return false;
         });
     }); 
</script>

@using (Html.BeginForm("Search", Model))
{
    <div class="searchBox">
         <input name="q" id="search_Box" type="text" value="@Request["q"]"
          placeholder="Please input search text"/>
          <input type="submit" value="Search" class="btn small" />
    </div>
}

<ul class="filtroAlfab">
@foreach (var letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ")
 {
    if (ViewBag.LetraAlfabetica == letter.ToString())
    {     
        <li class="selected">@letter</li>
    }
    else
    { 
        <text>
        <li>@Html.ActionLink(letter.ToString(), "Search", Model, new { q = letter }, null)</li>
        </text>
    }
}
</ul>