@model ComboTransactionModel
@{
	ViewBag.Title = "Edit Cmobo Transaction";
}

<table class="noborder">
	<tr>
		<td width="40%">
		@using (Html.BeginForm())
		{
				@Html.ValidationSummary(true)
				<text>
				@{Html.RenderPartial("EditOrCreateComboTransactionPartial", Model);}
				</text>
		}
		</td>
	</tr>
</table>
